# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
**/**/.DS_Store

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
**/build
**/doc/api/
**/ios/Flutter/.last_build_id
**/Flutter/ephemeral/
**/Pods/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Platform-specific files

## Platform-specific files (Android)
**/android/**/GeneratedPluginRegistrant.*
**/android/*.iml
**/android/.gradle
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/.idea/workspace.xml
**/android/.idea/libraries
**/android/build
**/android/captures
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gen/*
**/android/**/.cxx/**

## Platform-specific files (iOS and macOS)
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.*
### Xcode-related
**/dgph
**/xcuserdata/

## Platform-specific files (Windows)
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.*

## Platform-specific files (Linux)
**/linux/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugins.*


# Pana
log.pana.json

# Test
integration_test/screenshots
.coverage/
coverage/
reports/
/test/**/*.json
!/test/**/fixtures/*.json
/test/.test_coverage.dart

# Temp
/tmp
/temp

# FVM Version Cache
.fvm/